.form__input-delete-button {
  display: none;
  position: absolute;
  top: 29px;
  right: 6px;
  background-image: url(../../../images/delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}