.next-button {
  font-family: 'Inter', sans-serif;
  padding: 18px 52px;
  color: #fff;
  background-color: #3CA9F0;
  border: 1px solid #3CA9F0;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}