.questionary__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  margin: 40px 0 0;
}


@media screen and (max-width: 768px) {
  .questionary__title {
    font-size: 30px;
    margin: 40px auto 0;
  }
}