.form__input {
  width: 100%;
  max-width: 644px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  padding: 18px 0 18px 15px;
  margin: 0;
}

.form__input:focus-visible {
  outline: unset;
}

.form__input:focus {
  border: 1px solid #5CBEFE;
}

.form__input::placeholder {
  color: #9A9A9A;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin:0;
  padding: 0;
}

@media screen and (max-width: 450px) {
  .form__input {
    width: 90%
  }
  .form__input::placeholder {
    font-size: 13px;
  }
}